  <div class="blog blog-style2 blog-single padding--top padding--bottom bg-light">
        <div class="container">
            <div class="section__wrapper">
                <div class="row g-4">
                    <div class="col-lg-8 col-12">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="blog__item">
                                    <div class="blog__inner">
                                        <div class="blog__thumb">
                                            <img src="{{selectedBlog.image}}" alt="blog thumb">
                                        </div>
                                        <div class="blog__content">
                                            <div [innerHTML]="selectedBlog?.content"></div>
                                            <div class="blog__tags">
                                                <div class="blog__tags-left">
                                                    <div class="blog__tags-title">
                                                        <!-- <p>Tags:</p> -->
                                                    </div>
                                                    <div class="blog__tags-details">
                                                        <!-- <ul>
                                                            <li><a href="#">Fashion</a></li>
                                                            <li><a href="#">Model</a></li>
                                                            <li><a href="#">Entertainment</a></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                                <div class="blog__tags-right">
                                                    <div class="blog__tags-title">
                                                        <p>Share:</p>
                                                    </div>
                                                    <div class="blog__tags-details">
                                                        <div class="footer__social">
                                                            <ul>
                                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__comments">
                                    <div class="section__header">
                                        <h2>4 Comments</h2>
                                    </div>
                                    <div class="blog__comments-details">
                                        <ul>
                                            <li>
                                                <div class="blog__comments-thumb">
                                                    <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                </div>
                                                <div class="blog__comments-content">
                                                    <h6>Mr Jake</h6>
                                                    <span>On January 10, 2022 at 9:49 am</span>
                                                    <a href="#" class="blog__comments-edit">Edit</a>
                                                    <p>Hi, this is a comment. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta.</p>
                                                    <a href="#" class="text-btn"><span><i class="fas fa-reply-all"></i> Reply</span></a>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="blog__comments-thumb">
                                                            <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                        </div>
                                                        <div class="blog__comments-content">
                                                            <h6>Mr Jahirul</h6>
                                                            <span>On January 10, 2022 at 9:49 am</span>
                                                            <a href="#" class="blog__comments-edit">Edit</a>
                                                            <p>Enthusiastical actualize turnkey channel via real-time market. Progressively restore play supply chains after tactical technologies. </p>
                                                            <a href="#" class="text-btn"><span><i class="fas fa-reply-all"></i> Reply</span></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="blog__comments-thumb">
                                                    <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                </div>
                                                <div class="blog__comments-content">
                                                    <h6>Mr Jake</h6>
                                                    <span>On January 10, 2022 at 9:49 am</span>
                                                    <a href="#" class="blog__comments-edit">Edit</a>
                                                    <p>Enthusiastical actualize turnkey channel via real-time market. Progressively restore play supply chains after tactical technologies. </p>
                                                    <a href="#" class="text-btn"><span><i class="fas fa-reply-all"></i> Reply</span></a>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="blog__comments-thumb">
                                                            <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                        </div>
                                                        <div class="blog__comments-content">
                                                            <h6>Mr Jahirul</h6>
                                                            <span>On January 10, 2022 at 9:49 am</span>
                                                            <a href="#" class="blog__comments-edit">Edit</a>
                                                            <p>Enthusiastical actualize turnkey channel via real-time market. Progressively restore play supply chains after tactical technologies. </p>
                                                            <a href="#" class="text-btn"><span><i class="fas fa-reply-all"></i> Reply</span></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__respond">
                                    <div class="section__header">
                                        <h2>Leave a Comment</h2>
                                    </div>
                                    <div class="blog__respond-details">
                                        <form action="#">
                                            <input name="name" type="text" value="" placeholder="Name">
                                            <input name="email" type="text" value="" placeholder="Email">
                                            <input name="url" type="text" value="" placeholder="Subject" class="w-100">
                                            <textarea id="comment-reply" name="comment" rows="10" placeholder="Type Here Your Comment"></textarea>
                                            <p class="comment-form-cookies-consent w-100">
                                                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                                <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                            </p>
                                            <button type="submit" class="default-btn move-right"><span>Submit</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="sidebar">
                            <div class="sidebar__search">
                                <div class="section__header">
                                    <h2>Search Now</h2>
                                </div>
                                <div class="section__wrapper">
                                    <form>
                                        <input type="text" placeholder="Search">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar__tab">
                                <div class="section__header">
                                    <h2>Post Tag</h2>
                                </div>
                                <div class="section__wrapper">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="post-tab" data-bs-toggle="tab" data-bs-target="#post" type="button" role="tab" aria-controls="post" aria-selected="true">Recent Post</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="false">Comments</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                                            <div class="footer__post">
                                                <div class="section__wrapper">
                                                    <div class="footer__post-item">
                                                        <div class="footer__post-inner">
                                                            <div class="footer__post-thumb">
                                                                <a href="blog-single.html"><img src="assets/images/footer/post/01.jpg" alt="footer post"></a>
                                                            </div>
                                                            <div class="footer__post-content">
                                                                <a href="blog-single.html"><h6>Collaboratively Coordinate.</h6></a>
                                                                <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer__post-item">
                                                        <div class="footer__post-inner">
                                                            <div class="footer__post-thumb">
                                                                <a href="blog-single.html"><img src="assets/images/footer/post/02.jpg" alt="footer post"></a>
                                                            </div>
                                                            <div class="footer__post-content">
                                                                <a href="blog-single.html"><h6>Quickly Develop Exceptional</h6></a>
                                                                <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="footer__post-item">
                                                        <div class="footer__post-inner">
                                                            <div class="footer__post-thumb">
                                                                <a href="blog-single.html"><img src="assets/images/footer/post/03.jpg" alt="footer post"></a>
                                                            </div>
                                                            <div class="footer__post-content">
                                                                <a href="blog-single.html"><h6>Why you need Peace WordPress Theme?</h6></a>
                                                                <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                                            <div class="blog__comments-details">
                                                <ul>
                                                    <li>
                                                        <div class="blog__comments-thumb">
                                                            <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                        </div>
                                                        <div class="blog__comments-content">
                                                            <h6>Mr Jake</h6>
                                                            <p>Donec sollici tudin mole stie male sua da. Vest ibulum ante.........</p>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="blog__comments-thumb">
                                                                    <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                                </div>
                                                                <div class="blog__comments-content">
                                                                    <h6>Mr Jahirul</h6>
                                                                    <p>Donec sollici tudin mole stie male sua da. Vest ibulum ante.........</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="blog__comments-thumb">
                                                            <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                        </div>
                                                        <div class="blog__comments-content">
                                                            <h6>Mr Jake</h6>
                                                            <p>Donec sollici tudin mole stie male sua da. Vest ibulum ante.........</p>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="blog__comments-thumb">
                                                                    <img src="assets/images/blog/author/none.jpg" alt="blog-thumb">
                                                                </div>
                                                                <div class="blog__comments-content">
                                                                    <h6>Mr Jahirul</h6>
                                                                    <p>Donec sollici tudin mole stie male sua da. Vest ibulum ante.........</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="sidebar__tag">
                                <div class="footer__tags">
                                    <div class="section__header">
                                        <h2>Post Tag</h2>
                                    </div>
                                    <div class="section__wrapper">
                                        <ul>
                                            <li><a href="#">Christian</a></li>
                                            <li><a href="#">Hindu</a></li>
                                            <li><a href="#">Magazine</a></li>
                                            <li><a href="#">Muslims</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="#">SEO</a></li>
                                            <li><a href="#">Themes</a></li>
                                            <li><a href="#">WordPress</a></li>
                                            <li><a href="#">Web Development</a></li>
                                            <li><a href="#">Design</a></li>
                                            <li><a href="#">Photography</a></li>
                                            <li><a href="#">Media</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="sidebar__catagory">
                                <div class="section__header">
                                    <h2>Categories</h2>
                                </div>
                                <div class="section__wrapper">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Muslim</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Culture</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Sports</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>News</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Gallery</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>International</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Local</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Social</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Cristian</a></li>
                                        <li><a href="#"><i class="fas fa-chevron-right"></i>Crime</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>