<header class="header">
    <div class="navbar-expand-xl">
        <div class="collapse navbar-collapse" id="menubar2">
            <div class="header__top w-100">
                <div class="container">
                    <div class="header__top-area">
                        <div class="header__top-left">
                            <ul>
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    +917667327527
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    jainansh1997&#64;gmail.com
                                </li>
                            </ul>
                        </div>
                        <div class="header__top-center">
                            <div class="header__top-logo d-none d-md-block">
                                <a href="index.html"><img src="assets/images/logo/01.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="header__top-right">
                            <div class="header__top-socialsearch">
                                <div class="header__top-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                                <div class="header__top-search">
                                    <ul>
                                        <li class="search__icon"><i class="fas fa-search"></i></li>
                                        <li class="cart__icon"><i class="fas fa-shopping-bag"></i><span>04</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <div class="header__mainmenu navbar navbar-expand-xl navbar-light">
                <div class="header__logo">
                    <a href="index.html" class="d-none d-xl-block"><img src="assets/images/logo/02.png" alt="logo"></a>
                    <a href="index.html" class="d-xl-none"><img src="assets/images/logo/01.png" alt="logo"></a>
                </div>
                <div class="header__bar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar"
                        aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button class="navbar-toggler header__bar-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#menubar2" aria-controls="menubar2" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fas fa-info"></span>
                    </button>
                </div>
                <div class="header__menu navbar-expand-xl">
                    <div class="collapse navbar-collapse" id="menubar">
                        <ul>
                            <li class="active">
                                <a routerLink="/">Home</a>
                               
                            </li>
                         
                          
                            <li>
                                <a routerLink="gallery">Gallery</a>
                               
                            </li>
                            <li>
                                <a routerLink="books">Books</a>
                               
                            </li>
                            <li>
                                <a routerLink="blog">Blog</a>
                               
                            </li>
                            <!-- <li>
                                <a href="#0">Shop</a>
                                <ul>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-single.html">Shop Single</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="check-out.html">Check Out Page</a></li>
                                </ul>
                            </li> -->
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <button id="translateBtn" class="default-btn"><span>हिंदी</span></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

