<div class="row g-3 grid">
  @for (img of galleryImages; track img) {
    <div class="col-lg-4 col-sm-6 col-12">
      <div class="gallery__item">
        <div class="gallery__inner">
          <div class="gallery__thumb">
            <img [src]="img" alt="gallery-thumb" class="w-100" />
          </div>
          <div class="gallery__content text-center">
            <a [href]="img" data-rel="lightcase" class="gallery__icon">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  }
</div>
