<!-- ================> preloader start here <================ -->
<!-- <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div> -->
<!-- ================> preloader ending here <================ -->

<!-- ================> Header Search <================ -->
<!-- <div class="header-form">
    <div class="bg-lay">
        <div class="cross">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <form class="form-container">
        <input type="text" placeholder="Input Your Search" name="name">
        <button type="submit">Search</button>
    </form>
</div> -->
<!-- ================> Header Search <================ -->
<app-header></app-header>
<!-- ================> Header Cart <================ -->

<!-- ================> Header Cart <================ -->



<!-- ================> header section start here <================== -->

<!-- ================> header section end here <================== -->


<!-- ================> Banner section start here <================== -->
<router-outlet></router-outlet>
<!-- ================> Banner section end here <================== -->




<!-- ================> Service section start here <================== -->





<!-- ================> Service section end here <================== -->


<!-- ================> gallery section start here <================== -->
\

<!-- ================> gallery section end here <================== -->


<!-- ================> Event section start here <================== -->

<!-- ================> Event section end here <================== -->



<!-- ================> Shedule section end here <================== -->


<!-- ================> Sermon section start here <================== -->

<!-- ================> Sermon section end here <================== -->


<!-- ================> Cause section start here <================== -->

<!-- ================> Cause section end here <================== -->



<!-- ================> Sponsor section start here <================== -->

<!-- ================> Sponsor section end here <================== -->


<!-- ================> Contact section start here <================== -->

<!-- ================> Contact section end here <================== -->


<!-- ================> Location section start here <================== -->

<!-- ================> Location section end here <================== -->


<!-- ================> Social section start here <================== -->
<div class="social">
    <div class="container">
        <div class="social__area">
            <ul class="social__list">
                <li class="social__list-facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>facebook</span>
                    </a>
                </li>
                <li class="social__list-twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        <span>twitter</span>
                    </a>
                </li>
                <li class="social__list-linkedin">
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                        <span>linkedin</span>
                    </a>
                </li>
                <li class="social__list-instagram">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        <span>instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ================> Social section end here <================== -->



<!-- ================> Footer section start here <================== -->
<!-- <footer class="footer">
    <div class="footer__top padding--top padding--bottom">
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="footer__about">
                        <div class="section__header">
                            <h2>About Peace</h2>
                        </div>
                        <div class="section__wrapper">
                            <div class="footer__about-thumb">
                                <img src="assets/images/footer/about/01.jpg" alt="footer thumb" class="w-100">
                            </div>
                            <div class="footer__about-contet">
                                <p>Dramatically strategize economically sound action items for e-business niches.
                                    Quickly re-engineer 24/365 potentialities before.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="footer__tags">
                        <div class="section__header">
                            <h2>Post Tag</h2>
                        </div>
                        <div class="section__wrapper">
                            <ul>
                                <li><a href="#">Christian</a></li>
                                <li><a href="#">Hindu</a></li>
                                <li><a href="#">Magazine</a></li>
                                <li><a href="#">Muslims</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">SEO</a></li>
                                <li><a href="#">Themes</a></li>
                                <li><a href="#">WordPress</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="footer__post">
                        <div class="section__header">
                            <h2>Recent Post</h2>
                        </div>
                        <div class="section__wrapper">
                            <div class="footer__post-item">
                                <div class="footer__post-inner">
                                    <div class="footer__post-thumb">
                                        <a href="blog-single.html"><img src="assets/images/footer/post/01.jpg"
                                                alt="footer post"></a>
                                    </div>
                                    <div class="footer__post-content">
                                        <a href="blog-single.html">
                                            <h6>Collaboratively Coordinate.</h6>
                                        </a>
                                        <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer__post-item">
                                <div class="footer__post-inner">
                                    <div class="footer__post-thumb">
                                        <a href="blog-single.html"><img src="assets/images/footer/post/02.jpg"
                                                alt="footer post"></a>
                                    </div>
                                    <div class="footer__post-content">
                                        <a href="blog-single.html">
                                            <h6>Quickly Develop Exceptional</h6>
                                        </a>
                                        <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer__post-item">
                                <div class="footer__post-inner">
                                    <div class="footer__post-thumb">
                                        <a href="blog-single.html"><img src="assets/images/footer/post/03.jpg"
                                                alt="footer post"></a>
                                    </div>
                                    <div class="footer__post-content">
                                        <a href="blog-single.html">
                                            <h6>Why you need Peace WordPress Theme?</h6>
                                        </a>
                                        <p><i class="far fa-calendar-alt"></i> 10 January, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="footer__links">
                        <div class="section__header">
                            <h2>Useful Links</h2>
                        </div>
                        <div class="section__wrapper">
                            <ul>
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries <abbr title="RSS">RSS</abbr></a></li>
                                <li><a href="#">Comments <abbr title="RSS">RSS</abbr></a></li>
                                <li><a href="#">WordPress.org</a></li>
                                <li><a href="#">Google</a></li>
                                <li><a href="#">Template</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-area text-center">
                <div class="footer__bottom-logo">
                    <a href="index.html"><img src="assets/images/logo/01.png" alt="footer logo"></a>
                </div>
                <div class="footer__bottom-content">
                    <p>Copyright &copy; 2022 <a href="index.html">Peace</a> | Designed by <a
                            href="https://themeforest.net/user/codexcoder/portfolio">CodexCoder</a></p>
                </div>
            </div>
        </div>
    </div>
</footer> -->



<!-- <footer class="footer">
    <div class="footer__social text-center padding--top padding--bottom">
        <div class="container">
            <ul class="social__links list-inline">
                <li class="list-inline-item">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
                </li>
            </ul>
        </div>
    </div>
</footer> -->

<!-- ================> Footer section end here <================== -->





<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="fas fa-arrow-up"></i><span class="pluse_1"></span><span
        class="pluse_2"></span></a>
<!-- scrollToTop ending here -->





<!-- vendor plugins -->